* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero {
  position: relative;
  width: 100%;
  background-color: green;
  height: 538px;
}

.navbar {
  display: flex;
  width: 980px;
  height: 36px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

.navbar ul{
  display: flex;
  width: 980px;
  align-items: center;
  color: white;
}

.navbar ul > * {
  background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(121,121,121,1) 0%, rgba(99,99,99,1) 49%, rgba(59,59,59,1) 50%, rgba(93,93,93,1) 92%, rgba(124,124,124,1) 100%);
}

.navbar li:first-child{
  border-radius: 8px 0 0 8px;
}


.navbar li{
  flex: 1;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: #444 1px solid;
  cursor: pointer;
}


.navbar li:hover{
  background: linear-gradient(180deg, rgba(40,40,40,8) 0%, rgba(100, 100, 100,8) 0%, rgba(99,99,99,8) 49%, rgba(59,59,59,8) 50%, rgba(93,93,93,8) 92%, rgba(124,124,124,8) 100%);
}

.search-bar {
  display: flex;
  align-items: center;
  height: 36px;
  flex: 1;
  border-radius: 0 8px 8px 0;
  padding: 0 10px;
}

.search-bar input{
  width: 106px;
  border-radius: 12px;
  background-color: #0000;
  transition: width 0.3s ease-in-out;
}

.search-bar input:focus{
  width: 170px;
  color: black;
  background-color: #fff;
}

.hero {
  background-image: url(img/hero-background.jpg);
  background-position: bottom;
}

.title {
  width: 980px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title h1 {
  font-size: 3.8em;
  font-weight: 100;
  line-height: 36px;
  padding-top: 20px;
  margin: 20px;
}

.title h2 {
  padding-top: 20px;
  font-weight: 100;
  font-size: 2em;
  margin: 20px;
}

.title p{
  font-weight: 100;
  font-size: 1.5em;
}

.products {
  display: flex;
  margin-top: 2px;
  width: 100%;
}

.product {
  flex: 1;
}

.product img {
  width: 100%;
  cursor: pointer;
}

.footer {
  width: 980px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px; 
}

.footer >*{
 font-size: .7334em; 
 color: #6e6e6e;
 text-align: center;
}

.top ul {
  display: flex;
}

.top a {
  text-decoration: none;
  padding: 3px;
}

.top li {
  border-right: #333 solid 1px;
}

.top {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.down {
  margin-top: 30px;
  display: flex;
}

.down ul {
  display: flex;
}

.down li {
  padding: 3px;
}

.down li:first-child {
  border-right: #333 solid 1px;
}